@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: white;
    outline: none;
    text-decoration: none;
}
body{
    background-color: #181820;
}
.address-container-topBox{
    display: flex;
    width: 100%;
    padding: 5px;
    margin: 20px 0 0 0;
    justify-content: center;
}
.wrapper-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #2D303E;
    border-radius: 5px;
    padding: 20px;
}
.box-wrapper-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.left-btn-box{
    display: flex;
}
.left-btn-box button{
    padding: 10px 20px 10px 20px;
    background-color: #111117;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.right-btn-box{
    display: flex;
}
.right-btn-box button{
    padding: 10px 20px 10px 20px;
    background-color: #FFB648;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.address-card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    border: 1px solid #FFB648;
    padding: 0 20px 0 20px;
}
.wrapper-box-left{
    display: flex;
    flex-direction: column;
}
.wrapper-box-right{
    display: flex;
}
.wrapper-box-right i{
    font-size: 18px;
    color: #FFB648;
}
.wrapper-box-right button{
    background-color: #FFB648;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.top-box{
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
}
.top-box h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 5px 0;
}
.top-box h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.mid-box{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}
.mid-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 3px 0;
}
.mid-box b{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 3px 0;
}
.btm-box{
    display: flex;
    margin: 0 0 5px 0;
    gap: 10px;
    align-items: center;
}
.btm-box button{
    transition: 0.3s;
    width: 125px;
    background-color: #FFB648;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btm-box button:hover{
    transition: 0.2s;
    background-color: rgba(255, 182, 72, 0.8);
}
.btm-box #deleteAddressBtn{
    transition: 0.3s;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    width: fit-content;
    color: #F37878;
}
.btm-box i{
    color: #F37878;
}
.btm-box #deleteAddressBtn:hover{
    transition: 0.2s;
    color: rgba(243, 120, 120, 0.8);
}
.btm-box #deleteAddressBtn:hover > i{
    transition: 0.2s;
    color: rgba(243, 120, 120, 0.8);
}

/* ADDRESS CARD BOX 2 */
.address-card-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 0 20px 0 20px;
    box-shadow: 0 1px 6px 0 #252836;
}
/* END */

/* FOR ADD ADDRESS */
.modal-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease-in-out;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.province select, .city select{
    cursor: pointer;
    width: 240px;
    height: 30px;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #111117;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 20px 0;
}
select:focus{
    transition: 0.3s;
    border: 1px solid #FFB648;
}

/* add address v2 */
.add-as-top-container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.add-as-top-ct-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
}
.add-as-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.add-as-content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1F2028;
    border-radius: 5px;
    padding: 15px;
}
.add-as-top-row{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-as-top-row .fa-xmark{
    cursor: pointer;
}
#add-as-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.add-as-form-ct{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 0;            
}
.add-as-form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.add-as-form-wrapper input{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #111117;
}
#findCityEtcInput{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #111117;
}
.wrapper-ct-address input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #87878B;
}
#findCityEtcInput:focus{
    border: 1px solid #FFB648;
}
.add-as-form-wrapper input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #87878B;
}
.add-as-form-wrapper input:focus{
    border: 1px solid #FFB648;
}
.add-as-form-wrapper textarea{
    height: 100px;
    border: none;
    outline: none;
    background-color: #111117;
    resize: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px 0;
}
.add-as-form-wrapper textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #87878B;
}
.add-as-form-wrapper textarea:focus{
    border: 1px solid #FFB648;
}
.add-as-form-wrapper button{
    transition: 0.3s;
    background-color: #FFB648;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    border: none;
}
.add-as-form-wrapper button:hover{
    transition: 0.2s;
    background-color: rgba(255, 182, 72, 0.9);
}
@media (max-width: 600px) {
    .add-as-content{
        padding: 20px;
    }
}