.wrapper-ct-address{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #111117;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* margin: 0 0 20px 0; */
}
.wrapper-ct-address .autocom-box{
    padding: 0;
    margin: 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.wrapper-ct-address.active .autocom-box{
    /* padding: 10px; */
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    display: none;
    width: 100%;
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}
.wrapper-ct-address.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    transition: 0.2s ease-in-out;
    background-color: #FFB648;
}
small{
    color: #626268;
    font-style: italic;
}