@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --background-color: #181820;
    --navbar-color: #111117;
    --primarytext-color: #FFFFFF;
    --secondarytext-color: #FFB648;
    --card-color: #21212B;
    font-family: 'Inter', sans-serif;
}
body {
    overflow-x: hidden;
    background-color: var(--background-color);
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container b{
    margin: 50px 0 0 0;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.reg-content{
    display: flex;
    align-items: center;
    width: 1300px;
    flex-direction: column;
}
.reg-content img{
    width: 160px;
    height: 60.16px;
}
.reg-component{
    background-color: #21212B;
    display: flex;
    flex-direction: column;
    width: 596px;
    height: fit-content;
    margin: 10px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0 28px 0 28px;
}
.right-text{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    padding: 44px 4px 0 0;
    flex-direction: column;
}
.right-text h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.right-text h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.right-text a{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFB648;
    text-decoration: none;
}
.reg-fill{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 68px 0 0 0 ;
}
.row{
    display: flex;
    gap: 32px;
    margin: 0 0 35px 0;
    justify-content: center;
}
.row input{
    transition: 0.2s;
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #181820;
    border: 1px solid #181820;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.row input:focus{
    transition: 0.3s;
    border: 1px solid #FFB648;
}

.row2{
    display: flex;
    margin: 0 0 35px 0;
}
.row2 input{
    transition: 0.2s;
    width: 532px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #181820;
    border: 1px solid #181820;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.row2 input:focus{
    transition: 0.3s;
    border: 1px solid #FFB648;
}
.row select{
    transition: 0.2s;
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #181820;
    border: 1px solid #181820;
    border-radius: 5px;
    padding: 5px;
    color: white;
    opacity: 70%;
}
select option{
    color: white;
    border: 1px solid red;
    outline: none;
}
::placeholder {
    color: white;
    opacity: 70%;
}
option:disabled{
    outline: none;
    border: none;
    background-color: none;
}
select:focus{
    border: 1px solid #FFB648;
}
input[type="date"]{
    color: white;
    opacity: 70%;
}
input[type="email"]:focus:invalid{
    border: 1px solid red;
}
.row button{
    margin-top: 34px;
    cursor: pointer;
    transition: 0.2s;
    width: 268px;
    height: 32px;
    outline: none;
    border: none;
    background-color: #FFB648;
    border-radius: 50px;
    padding: 5px;
    color: #21212B;
    font-weight: 700;
    font-size: 16px;
}
.row button:hover{
    opacity: 90%;
}

/* GENDER SELECT */
.wrapper{
    width: 250px;
    color: var(--primarytext-color);
}
.select-btn, .options li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select-btn{
    font-size: 12px;
    height: 30px;
    background-color: #181820;
    justify-content: space-between;
    padding: 8px; 
    border-radius: 5px;
    opacity: 70%;
}
.select-btn i{
    font-size: 18px;
    transition: transform 0.2s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0 0 0;
    background-color: #181820;
    font-size: 12px;
}
.wrapper.active .content{
    display: block;
}
.options li{
    list-style: none;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}
.options li:hover{
    background-color: #21212B;
}