@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: #F7F7F7;
}
body{
    background-color: #181820;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.ct-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-content{
    display: flex;
    width: 500px;
}
.mt-ct-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.reg-content{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 5px;
    background-color: #21212B;
}
.title-sec{
    display: flex;
    flex-direction: column;
}
#title-img{
    max-width: 125px;
    cursor: pointer;
}
#title-img img{
    width: 100%;
    object-fit: cover;
}
#top-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
#top-sub-title{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
#login-link{
    transition: 0.3s;
    color: #FFB648;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 0 5px;
    cursor: pointer;
}
#login-link:hover{
    transition: 0.2s;
    color: rgba(255, 182, 72, 0.8);
}
.form-sec{
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
}
#input-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row label{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.row input{
    transition: 0.3s;
    border: none;
    outline: none;
    background-color: #181820;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 9px;
    border-radius: 5px;
}
/* GENDER SELECT */
.wrapper{
    width: 100%;
    color: #F7F7F7;
}
.select-btn, .options li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 35px;
    background-color: #181820;
    justify-content: space-between;
    padding: 8px; 
    border-radius: 5px;
    opacity: 70%;
}
.select-btn i{
    font-size: 18px;
    transition: transform 0.2s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 0 0;
    background-color: #181820;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.wrapper.active .content{
    display: block;
}
.options li{
    list-style: none;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
}
.options li:hover{
    background-color: #21212B;
}
#form-submit-btn{
    margin: 25px 0 25px 0;
    transition: 0.3s;
    padding: 13px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background-color: #FFB648;
    cursor: pointer;
    outline: none;
}
#form-submit-btn:hover{
    transition: 0.2s;
    background-color: rgba(255, 182, 72, 0.9);
}
@media (max-width: 1366px){
    .row label{
        display: none;
    }
}
#infoMsg{
    transition: 0.3s;
    min-width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 -30px 0;
}
#infoMsg.fade{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#infoMsg span{
    transition: 0.3s;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #FF5D5D;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

/* password validation */
#password-input-box{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #181820;
}
#user-password{
    width: 100%;
    height: 0;
    padding: 8px 0;
}
#user-password:focus{
    border: none;
}
#user-password:focus > #password-input-box{
    border: 1px solid #FFB648;
}
.toggle-password{
    display: flex;
}
.toggle-password i{
    cursor: pointer;
}
i.fa-eye{
    font-size: 12px;
}
i.fa-eye-slash{
    font-size: 12px;
}
.toggle-password.active i.fa-eye{
    display: none;
}
.toggle-password.active i.fa-eye-slash{
    display: block;
}
.toggle-password i.fa-eye{
    display: block;
}
.toggle-password i.fa-eye-slash{
    display: none;
}
.password-info{
    display: none;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    background-color: #181820;
    border-radius: 5px;
}
.password-info > div{
    color: #505056;
}
.password-info > div.active{
    color: #F7F7F7;
}
.password-info-text{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
i.fa-check{
    display: none;
    color: #C6EBC5;
}