@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: #F7F7F7;
    --swiper-theme-color: #FFB648;
    --swiper-navigation-size: 0;
}
body{
    background-color: #181820;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.ct-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notif-sec{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #009EFF;
}
.notif-sec i{
    font-size: 12px;
}
.notif-sec small{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
/* banner section */
.ct-banner{
    width: 100%;
    height: 100%;
    padding: 50px 25px 0 25px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
}
.carousell-wrapper{
    width: 100%;
    height: 300px;
}

/* new */
.another-ct-img{
    display: flex;
    max-width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}
#img-new-wrapper{
    max-width: 1300px;
    height: 100%;
}
#img-new-wrapper img{
    transition: 0.2s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
#img-new-wrapper img:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
/* new */

.promotion-slide-wrapper{
    width: 100%;
    height: 150px;
}
/* slider */
.swiper {
    max-width: 1300px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.swiper-slide {
    width: 100%;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    outline: none;
    border-radius: 10px;
}
.swiper-button-next i{
    font-size: 18px;
    color: #FFB648;
}
.swiper-button-prev i{
    font-size: 18px;
    color: #FFB648;
}
.swiper-pagination-bullet{
    background-color: #FFB648;
    height: 4px;
    width: 20px;
    border-radius: 25%;
}
.banner-notif{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
}
.banner-notif-wrapper{
    width: 1300px;
    height: 150px;
}
.banner-notif-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* content section */
.ct-content{
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-section{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 100%;
    gap: 15px;
}
.product-title{
    display: flex;
    gap: 5px;
    align-items: center;
}
#pt-child1{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
#pt-child2{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFB648;
}
.card-wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0 25px;
}
.product-card{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #21212B;
    border-radius: 5px;
}
.product-card a{
    text-decoration: none;
}
#product-image{
    max-width: 200px;
    height: 175px;
}
#product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.product-text-sec{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px 25px 10px;
}
#product-name{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
#product-price{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.product-third{
    display: flex;
}
#product-rating{
    display: flex;
    gap: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-right: 2px solid #2D303E;
    padding: 0 10px 0 0;
}
#product-rating i{
    color: #FFD369;
}
#product-sell{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 0 10px;
}
@media (max-width: 1375px) {
    .card-wrapper{
        justify-content: center;
    }
}
@media (max-width: 1375px) {
    .product-title{
        padding: 0 25px;
    }
    .card-wrapper{
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .product-title{
        justify-content: space-between;
    }
    .product-text-sec{
        max-width: 100%;
    }
    .ct-banner{
        padding: 25px 0 0 0;
        gap: 10px;
    }
    .promotion-slide-wrapper{
        height: 100px;
    }
    .banner-notif-wrapper{
        height: 100px;
    }
    .swiper-button-next i{
        display: none;
    }
    .swiper-button-prev i{
        display: none;
    }
    .swiper-pagination-bullet{
        display: none;
    }
    .card-wrapper{
        flex-direction: column;
        padding: 0 20px;
        gap: 25px;
    }
    .card-wrapper > *{
        flex-basis: 100%;
    }
    #product-image{
        max-width: 100%;
    }
    #notif-btn{
        display: none;
    }
    #msg-btn{
        display: none;
    }
}
@media (max-width: 425px) {
    .carousell-wrapper{
        width: 100%;
        height: 150px;
    }
    #pt-child1{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    #pt-child2{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}

/* footer section */
footer{
    display: flex;
    flex-flow: row wrap;
    padding: 60px;
    color: #f7f7f7;
    background-color: #111117;
}
.footer > *{
    flex: 100%;
}
.footer-left{
    margin-top: 2.5em;
    margin-right: 1.25em;
    margin-bottom: 2em;
    text-align: center;
}
.footer-left img{
    width: 50%;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}
.footer-right{
    display: flex;
    flex-flow: row wrap;
}
.footer-right > *{
    flex: 50%;
    margin-right: 1.25em;
}
.footer-box a{
    transition: 0.3s;
    color: #999;
}
.bantuan{
    margin-right: 5em;
}
.footer-bottom{
    text-align: center;
    padding-top: 50px;
}
.footer-bottom p{
    color: #999;
}
.footer-box a:hover{
    color: #f7f7f7;
}
@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
#promotion-banner-wrapper{
    width: 100%;
    height: 100%;
    display: block;
}
#promotion-banner-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* medsos */
.medsos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.medsos-ct{
    display: flex;
    gap: 5px;
}
#medsos-fb{
    min-width: 22px;
    height: 22px;
}
#medsos-ig{
    min-width: 22px;
    height: 22px;
}
#medsos-tk{
    min-width: 22px;
    height: 22px;
}
#medsos-yt{
    min-width: 22px;
    height: 22px;
}
#medsos-fb img{
    width: 100%;
    height: 100%;
}
#medsos-ig img{
    width: 100%;
    height: 100%;
}
#medsos-tk img{
    width: 100%;
    height: 100%;
}
#medsos-yt img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px){
    .medsos-ct{
        gap: 10px;
    }
    #medsos-fb{
        min-width: 18px;
        height: 18px;
    }
    #medsos-ig{
        min-width: 18px;
        height: 18px;
    }
    #medsos-tk{
        min-width: 18px;
        height: 18px;
    }
    #medsos-yt{
        min-width: 18px;
        height: 18px;
    }
}