@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: #F7F7F7;
}
body{
    background-color: #181820;
}

/* toast sweetalert */
.swal2-popup {
    font-size: 14px;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
    padding: 10px 20px;
    margin: 0;
    max-width: fit-content;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

/* end toast sweetalert */

.nav-tst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78px;
    background-color: #111117;
}

/* sec1 - top ct */
.top-sec-container{
    width: 100%;
    padding: 75px 0 0 0;
    display: flex;
    justify-content: center;
}
.sec-wrapper{
    width: 1300px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
}

/* section 1 */
.image-sec-wrapper{
    display: flex;
    gap: 15px;
}
.sec1{
    display: flex;
    flex-direction: column;
}
.ct-img{
    transition: 0.3s;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.small-img{
    display: flex;
    flex-direction: column;
    width: 75px;
    gap: 20px;
    height: fit-content;
}
.small-img img{
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}
.small-img img:hover{
    transition: 0.2s;
    opacity: 75%;
}
.small-img img.active{
    border: 2px solid #FFB648;
}

/* section 2 */
.sec2{
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 0;
}
/* for big image */
.ct-container{
    /* background-color: white; */
    border-radius: 5px;
    width: 400px;
    height: 400px;
}
.img-container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-sizing: inherit;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
}
.img-container img:hover{
    height: fit-content;
    animation: fadeTransition 0.5s;
    cursor: default;
}

@keyframes fadeTransition {
    from{
        opacity: 0.5;
        background-color: white;
    }
    to{
        opacity: 1;
        background-color: white;
    }
}
.all-btn-sec{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    gap: 15px;
}
.all-btn-sec button{
    border: none;
    background-color: #1F1F27;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.all-btn-sec button i{
    padding: 0 10px 0 0;
    font-size: 14px;
}
/* wishlist button */
.all-btn-sec #wishlistBtn{
    animation: mymove 0.3s ease;
    padding: 10px 15px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: #1F1F27;
    color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
}
.all-btn-sec #wishlistBtn i{
    padding: 0 10px 0 0;
}
#wishlistedBtn{
    animation: mymove 0.3s ease;
    padding: 9px 20px 9px 30px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: #FA7070;
    color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
}
@keyframes mymove {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

/* section 3 */
.sec3{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-row{
    display: flex;
}
.title-row h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.sub-title{
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
}
.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 15px 0 0;
}
.rating b{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.rating i{
    font-size: 12px;
    color: #FFD369;
}
.sub-title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 10px 0 0;
}
.sub-title span{
    color: #D1D1D1;
    margin: 0 0 0 5px;
}
.price-sec{
    display: flex;
    margin: 15px 0 0 0;
}
.price-sec h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFB648;
}
.mindesc-sec{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 25px 0 0 0;
}
.mindesc-row{
    display: flex;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.mindesc-row span{
    color: #D1D1D1;
}
.mindesc-row p{
    color: #F7F7F7;
}
.mindesc-row a{
    text-decoration: none;
    color: #FFB648;
}
.prod-type-sec{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 25px 0 0 0;
}
.prod-type-sec p{
    color: #D1D1D1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.type-choose{
    display: flex;
    gap: 15px;
}
.type-choose a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
    background-color: #1F1F27;
    border-radius: 5px;
}
.type-choose a.active{
    color: #2E2E3D;
    background-color: #23232F;
}
.loc-sec{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px 0 0 0;
}
.loc-sec i{
    color: #DD5353;
}
.loc-sec p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.loc-sec b{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.cart-sec{
    display: flex;
    margin: 25px 0 0 0;
}
.cart-sec button{
    transition: 0.3s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFB648;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.cart-sec button:hover{
    transition: 0.3s;
    background-color: rgba(255, 182, 72, 0.9);
}
.cart-sec button i{
    padding: 0 15px 0 0;
}

/* sec2 - product detail */
.sec-prod-det{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}
.sec-prod-det-wrapper{
    width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    border-top: 3px solid #1F1F27;
}
#top-title{
    border-left: 5px solid #FFB648;
    padding: 0 0 0 5px;
    margin: 0 0 30px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.prod-content{
    display: flex;
    flex-direction: column;
}
.prod-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
}

/* sec3 - user review */
.sec-review{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}
.sec-review-wrapper{
    width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    border-top: 3px solid #1F1F27;
}
.total-rating{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1F1F27;
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 20px 0;
}
.total-rating i{
    color: #FFD369;
    padding: 0 5px 0 0;
}
.total-rating b{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.total-rating .all-review{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #929292;
    border-left: 3px solid #2A2A35;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}
.box-comment{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 15px;
    border: 1px solid #1F1F27;
    border-radius: 5px;
    background-color: #181820;
}
.box-comment-title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.box-comment-title img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.box-comment-title b{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.box-comment-rating{
    display: flex;
    gap: 5px;
    margin: 10px 0 0 0;
}
.box-comment-rating i{
    font-size: 12px;
    color: #FFD369;
}
#comment-date{
    margin: 10px 0 0 0;
    color: #929292;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
#user-comment{
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/* sec4 - product recommend */
.sec-prod-rec{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.sec-prod-rec-wrapper{
    width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    border-top: 3px solid #1F1F27;
}
.sec-card-container{
    display: flex;
    width: 100%;
}
.sec-card-wrapper{
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.card{
    transition: 0.3s;
    width: 175px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #21212B;
    border-radius: 5px;
}
.card img{
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.card .text-wrapper{
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
} 
.card .text-wrapper #title{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.card .text-wrapper #price{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.text-wrapper .rating{
    display: flex;
    gap: 5px;
    align-items: center;
}
.rating i{
    font-size: 12px;
    color: #FFD369;
}
.rating b{
    color: #D1D1D1;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.rating p{
    color: #D1D1D1;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-left: 1px solid #2D303E;
    padding: 0 0 0 5px;
}
.no-review-card{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #1F1F27;
    color: #F7F7F7;
    border-radius: 5px;
}
.rv-card-left img{
    width: 125px;
    height: 94.21px;
}
.rv-card-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rv-card-right h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.rv-card-right P{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
}

/* responsive */
@media only screen and (max-width: 1366px) {
    .top-sec-container{
        padding: 25px;
    }
}
@media only screen and (max-width: 835px) {
    .sec1{
        height: fit-content;
    }
    .sec2{
        padding: 0;
    }
    .ct-container{
        height: 300px;
    }
    .img-container{
        height: 300px !important;
    }
    .img-container #bigImage{
        height: 300px;
    }
    .img-container #bigImage img{
        height: 100%;
    }
    .sec-wrapper{
        gap: 10px;
    }
    .sec2{
        width: 100%;
    }
    .ct-container{
        width: 100%;
    }
    .sec-wrapper{
        flex-direction: column;
    }
    .sec-wrapper > *{
        flex-basis: 100%;
    }
    .sec-prod-det{
        padding: 10px 0 0 0;
    }
    .sec-prod-det-wrapper{
        padding: 25px;
    }
    .sec-review{
        padding: 0;
    }
    .sec-review-wrapper{
        padding: 25px;
    }
    .sec-prod-rec{
        padding: 0;
    }
    .sec-prod-rec-wrapper{
        padding: 25px;
    }
}

#lp-price{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
#lp-price a{
    transition: 0.3s;
    color: RGBA(255, 182, 72, 0.5);
}
#lp-price a:hover{
    transition: 0.2s;
    color: RGBA(255, 182, 72, 1);
}