@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    outline: none;
    --main-bg-color: #17181F;
    --text-white-color: #DFDFDE;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb{
    background-color: #21212B;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #252736;
}
.rw{
    display: flex;
    align-items: center;
    color: var(--text-white-color);
}
.rw img{
    margin-left: 5px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.title h3{
    color: #FAF3E3;
}
.row{
    display: flex;
    height: 100vh;
}
.box{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    gap: 10px;
}
.side-link{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.link-icon{
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
.link-icon i{
    color: #f7f7f7;
}
.side-link a{
    color: var(--text-white-color);
    text-decoration: none;
}
.link-icon button{
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    color: var(--text-white-color);
    border-radius: 5px;
}
.link-icon:hover{
    background-color: #252736;
}
.box-content{
    width: 100%;
    padding: 0 0 0 5px;
    overflow-y: scroll;
    background-color: white;
}
.ct-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.ct-home h1{
    color: var(--text-white-color);
}
.ct-home h3{
    font-weight: 600;
    color: var(--text-white-color);
}
.ct-home p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-white-color);
}
.loading-icon{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-icon img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.ct-home img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* LOADING CONTENT */
.loader-container{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.loader-container.hidden{
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid red;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader2 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFB648;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
/* END LOADING CONTENT */